<% include ../partials/header %>
<div class="container">
  <div class="row">
    <%console.log(listingInfo)%>
      <h1 class="col-md-12 text-center"><%=listingInfo.address%></h1>
      <h1 class="col-md-12 text-center">Is on the market: <%=listingInfo.onMarket%></h1>
      <h1 class="col-md-12 text-center">Is showing on website: <%=listingInfo.isShowing%></h1>
      <h1 class="col-md-12 text-center"><%=listingInfo.description%></h1>
  </div>
  <% if( currentUser && currentUser.isAdmin){ %>
    <div class="pull-right">
      <a class="btn btn-warning" href=">Edit</a>
      <form class="delete-form" action="/blog/<%=  %>?_method=DELETE" method="houseInfo">
        <button class="btn btn-xs btn-danger">DELETE</button>
      </form>
    </div>
  <% } %>
</div>
<% include ../partials/footer %>
